@import url(https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

@font-face {
	font-family: 'FontName'; 
	src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap"); 
}
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}


p {
  font-size: large;
}
.main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  justify-content: center;
}

input {
  border: none;
  border-bottom: 2px solid #aaa;
  font-size: 16px;
  padding: 8px 10px;
  margin: 0 0 20px;
}

/* стили для button */
button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

/* стили при наведении на кнопку */
button:hover {
  background-color: #555;
}


.weather__data {
  transform: translateY(0%);
  animation: fade-up 0.5s ease-in-out;
  border: 1px solid beige;
  border-radius: 1.2rem;
  padding: 1.2rem;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background-color:rgb(15, 15, 15);
  color: white;
}

.icon {
  display: block;
  width: 100px;
}

@media (max-width: 703px) {
  input {
    border: none;
    border-bottom: 2px solid #aaa;
    font-size: 16px;
    padding: 6px 8px;
    margin: 0 0 20px;
    border-radius: 1rem 0rem 0rem 1rem;
  }
  
  /* стили для button */
  button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 14px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
}
@media (max-width: 686px) {
  input {
    border: none;
    border-bottom: 2px solid #aaa;
    font-size: 16px;
    padding: 3px 4px;
    margin: 0 0 20px;
    border-radius: 1rem 0rem 0rem 1rem;
  }
}